<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginJuego"
        tools:targetApi="31">

        <!-- 1. MainActivity ahora es una actividad normal, sin el filtro de inicio. -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!-- El intent-filter ha sido removido de aquí. -->
        </activity>

        <!-- 2. Inicio.kt ahora es la actividad de inicio. -->
        <activity
            android:name=".Inicio"
            android:exported="true">
            <!-- Pegamos el intent-filter aquí -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Asegúrate de que tus otras actividades también estén declaradas -->
        <activity
            android:name=".Formulario"
            android:exported="true">
            <!-- No necesita intent-filter de lanzamiento -->
        </activity>

        <activity
            android:name=".Juego"
            android:exported="false">
            <!-- No necesita intent-filter de lanzamiento -->
        </activity>

    </application>

</manifest>
